@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
html, body, h1, h2, h3, h4, h5, h6, p, span, * {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, span, ul, li, p, h1, h2, h3, h4, h5, h6 {
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul, li {
  list-style: none;
  padding: 0;
}

.l-container {
  max-width: 1040px;
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
}

header {
  padding-block: 20px;
}
header h1 {
  font-size: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
}
header h1 img {
  height: 40px;
}

.d-none {
  display: none;
}

.bg {
  background-image: url("../images/bg.jpg");
}
.bg .fv__oricon {
  display: flex;
  justify-content: center;
}

.p-select {
  padding-block: 30px;
}
.p-select__ttl {
  font-size: 24px;
  position: relative;
  padding-left: 40px;
}
.p-select__ttl::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 2px;
  background: black;
}
.p-select__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}
.p-select__item {
  width: calc((100% - 40px) / 3);
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 5px;
  filter: drop-shadow(0 2px 4px #ccc);
  height: 100px;
  cursor: pointer;
}
.p-select__item:hover {
  opacity: 0.8;
}
.p-select__item p {
  font-size: 18px;
  color: white;
}
.p-select__item select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  color: white;
  text-align: center;
  border: none;
}
.p-select__item select option {
  width: 100%;
  font-size: 18px;
  color: black;
}
.p-select__item div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-select__item div input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  color: white;
  text-align: center;
  border: none;
}
.p-select__item div input.is-active {
  width: calc(100% - 80px);
}
.p-select__item div p {
  width: 40px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.p-select__item.is-active {
  background: rgba(190, 0, 0, 0.8);
}
.p-select__item.is-input-1 {
  width: 100%;
}
.p-select__item.is-input-1 div input {
  width: calc(100% - 100px);
}
.p-select__item.is-input-1 div p {
  width: 100px;
}
.p-select__item.is-input-2div3 {
  width: calc(20px + (100% - 40px) * 2 / 3);
}
.p-select__item.is-input-2div3 input {
  width: calc(100% - 100px);
}
.p-select__item.is-input-2div3 p {
  width: 100px;
}
.p-select__item.is-input-2div3.full input {
  width: 100%;
}
.p-select__item.is-input-2div3.full select {
  width: 100%;
}
.p-select__item.is-input-1div2 {
  width: calc((100% - 20px) / 2);
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_wrapper .button {
  width: 200px;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 50px;
  filter: drop-shadow(0 2px 4px #ccc);
  height: 50px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.button_wrapper .button:hover {
  opacity: 0.8;
}

@media (max-width: 550px) {
  .p-select__item {
    width: 100%;
  }
  .p-select__item.is-input-2div3 {
    width: 100%;
  }
  header h1 {
    font-size: 16px;
    gap: 10px;
    align-items: end;
  }
  header h1 img {
    height: 25px;
  }
}
@media (max-width: 768px) {
  .bg img {
    max-width: 350px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .bg img {
    max-width: 650px;
    width: 100%;
  }
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4666666667);
  border: 1px solid rgba(85, 85, 85, 0.4666666667);
}/*# sourceMappingURL=style.css.map */